:root {
  --primary-color: #097770;
  --secondary-color: #006d75;
  --background-color: #f1faf2;
  --menuHover: #ffb82e;
  --text-color: #2c2c2c;
  --white-color: #fff;
}
* {
  padding: 0;
  margin: 0;
  font-family: "Oswald", "Roboto";
}

.see-all {
  color: var(--menuHover);
  font-size: 14px;
}

.blog-name {
  font-weight: bold;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
}

.header1 {
  font-size: 24px;
  margin: 24px 0;
}

.header2 {
  font-size: 20px;
  margin: 20px 0;
}

.header3 {
  font-size: 18px;
  margin: 18px 0;
  text-transform: uppercase;
  font-weight: bold;
}

.header4 {
  font-size: 16px;
  margin: 16px 0;
}

.subText {
  font-size: 14px;
}

.ant-checkbox-checked .ant-checkbox-inner {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

.ant-checkbox-checked::after {
  border-color: var(--white-color);
}

.link {
  text-decoration: none;
  color: #2c2c2c;
}
