.product-container {
  display: flex;
  align-items: flex-start;
  padding: 24px 200px;

  .product-navbar {
    flex: 1;
    position: sticky;
    border-right: 2px solid #f4b343;
  }
  .product-content {
    flex: 4;
    padding-left: 100px;

    h1 {
      color: var(--primary-color);
      padding-bottom: 50px;
      font-size: 20px;
      font-weight: bolder;
    }
  }
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
  padding-bottom: 48px;
}

.product-card {
  position: relative;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  overflow: hidden;
  padding: 16px;
  display: flex;
  flex-direction: column;
}

.product-image {
  width: 100%;
  height: 180px;
  object-fit: contain;
  margin-bottom: 12px;
}

.product-info .name {
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 8px;
    display: -webkit-box;
    -webkit-line-clamp: 3; 
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: color 0.2s ease;
}

.product-info .name:hover{
  color: var(--primary-color);
  cursor: pointer;
}

.product-info .price {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 12px;
}

.product-info .old-price {
  text-decoration: line-through;
  color: #888;
  font-size: 13px;
}

.add-btn {
  background-color: #11796e;
  color: white;
  padding: 8px 12px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.add-btn.disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.badge {
  position: absolute;
  top: 10px;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 12px;
  font-weight: bold;
  color: white;
}

.badge.hot {
  left: 10px;
  background-color: red;
}

.badge.discount {
  right: 10px;
  background-color: orange;
}

.rating {
  font-size: 13px;
  color: green;
  margin-bottom: 4px;
}
