.home-container {
  margin-top: 0px;
}

.home-introduce {
  /* margin-top: 100px; */
  padding: 0 100px 0px 100px;
}

.home-intro {
  display: flex;
}

.home-intro-img {
  flex: 1;
  margin-left: 50px;
}

.home-intro-text {
  flex: 1;
  font-size: 14px;
  margin-right: 50px;
}

#intro-name {
  text-align: center;
  color: #ed1c24;
  font-size: 24px;
}

.home-button-call {
  background-color: #ed1c24;
  margin-top: 50px;
  font-size: 16px;
  /* font-weight: bold; */
  font-family: sans-serif;
  padding: 20px;
  margin-left: 170px;
}

.home-button-call:hover {
  background-color: #e6787c !important; /* Màu nền khi hover */
  color: white; /* Màu chữ khi hover */
  opacity: 0.9; /* Giảm độ mờ khi hover */
}

.home-slogan {
  margin-top: 100px;
  margin-left: 15px;
  text-align: center;
}

.home-gutter-row {
  background-color: #fff;
  margin-left: 50px;
  font-size: 14px;
  max-width: 250px;
  width: 100%;
}

.first-name {
  font-size: 20px;
}
