.register-container {
  display: flex;
  font-family: "lexend", sans-serif;
  justify-content: center;
  margin: 30px 0;
}
.register-wrap {
  padding: 20px;
  max-width: 550px;
  border-radius: 70px;
  /* box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.1); */
  border: 2px solid #0a7770;
}

.register-header {
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  color: #0a7770;
}

.register-icon {
  color: #0a7770;
}

.register-btn {
  min-width: 300px;
  background-color: white;
  color: black;
  margin-left: 100px;
  border: 1px solid #000;
  border-radius: 5px;
}
.register-btn:hover {
  background-color: #599c93 !important;
  color: white;
}

.register-check {
  margin-left: 100px;
}
.register-btn-regis {
  margin-left: 67px;
  min-width: 375px;
  background-color: #0a7770;
  color: white;
  border-radius: 35px;
}
.register-btn-regis:hover {
  background-color: #599c93 !important;
  color: white;
}

.register-to-login {
  text-align: center;
  font-size: 14px;
}

.register-link {
  color: #0a7770;
  /* text-decoration: none; */
  font-weight: 600;
  margin-left: 20px;
}

@media only screen and (max-width: 430px) {
  .register-wrap {
    width: 350px;
    padding: 10px;
    border-radius: 60px;
  }
  .register-header {
    margin: 10px 0 0;
  }
  .register-form {
    width: 300px !important;
    margin-left: 20px !important;
  }
  .register-btn,
  .register-check,
  .register-btn-regis,
  #other-option-regis,
  .register-other-option {
    margin-left: 0;
  }
  .register-btn-regis {
    min-width: 300px;
  }
  .register-other-option {
    margin-right: 100px;
  }
  .register-form-item-mobile {
    margin: 0;
  }
  .register-icon {
    display: none;
  }
  .register-wrap .ant-form-item-label {
    width: 0 !important;
    height: 15px !important;
  }
}
